body {
    font-family: 'Poppins';
}
th {
    background-color: rgb(241, 241, 241);
    font-weight: bolder;
    font-size: larger;
    border-bottom: 1.5pt solid black;
    border-top: 1pt solid black;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1pt solid black;
}

.thumbnail1 {
    transition: transform 0.3s ease-in-out;
}

.thumbnail1:hover {
    transform: scale(1.1);
}

.shop_button {
    width: 50%
}

.mycontent {
    line-height: 200%;
    font-size: large;
}

.panel_tab {
    font-size: large;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-self: center
}

#product_title {
    font-weight: bold;
}

#about_us {
  border: 3px solid pink;
  box-shadow: 5px 6px hotpink;
  font-family: "Comfortaa", sans-serif;
  /* font-family: "Special Elite", system-ui; */
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: larger;
  padding: 25px 50px;
}
#box_heading {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    /* font-style: normal; */
    font-size: xx-large
}
#box_titel {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  /* font-style: normal; */
  font-size: large
}
.highlight-text {
  background-color: yellow;
}

#speak_in_hindi, #speak_in_english {
  cursor: pointer;
}

#speak_in_hindi:hover, #speak_in_english:hover {
  background-color: yellow;
}

.fa {
  color: black;
  padding: 20px;
  /* font-size: 100px; */
  width: 60px;
  text-align: center;
  text-decoration: none;
  font-size: larger;
}

.fa:hover {
    transform: scale(1.5);
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .5;
  }
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    align-self: center
  }
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
.button2:hover {
  background-color: #008CBA;
  color: white;
}
.tabs-panel {
  text-align: center;
}
#my_heading:link, #my_heading:visited {
  color: black;
}

.animate-text {
  animation: fade-in 0.5s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#nav_element a {
  float: left; /* Float the links to the left */
  display: block; /* Display links as blocks */
  color: black; /* text color */
  text-align: center; /* Center-align the text */
  padding: 14px 16px; /* Padding around the links */
  text-decoration: none; /* Remove underline from links */
}

#nav_element a:hover {
  background-color: black; /* Background color on hover */
  color: white; /* Text color on hover */
}

#focused a {
  float: left; /* Float the links to the left */
  display: block; /* Display links as blocks */
  color: white; /* text color */
  text-align: center; /* Center-align the text */
  padding: 14px 16px; /* Padding around the links */
  text-decoration: none; /* Remove underline from links */
  background-color: grey;
}
